# --------------------------------------- General Configs ---------------------------------- #


APP_NAME="Full-RAG-APP"
APP_VERSION="0.1"

MONGODB_DB="MINI_RAG_DB"


# ------------------------------------- LLM Configs ----------------------------------------- #
GENERATION_BACKEND="groq"
EMBEDDING_BACKEND="google_genai"

# Models
GENERATION_MODEL_ID="llama-3.3-70b-versatile"
EMBEDDING_MODEL_ID="gemini-embedding-001"


# cfg
EMBEDDING_SIZE=512
INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

# ------------------------------------- Vector DBs Config ----------------------------------------- #
VECTOR_DB_BACKEND="qdrant"
VECTOR_DB_NAME="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine_similarity"

# ------------------------------------- Secrets ----------------------------------------- #
MONGODB_URL=""
GROQ_API_KEY=""
GOOGLE_API_KEY=""