# --------------------------------------- APP CFGs ---------------------------------- #
APP_NAME="Full-RAG-APP"
APP_VERSION="0.1"

# ------------------------------------- LLM Configs ----------------------------------------- #
GENERATION_BACKEND="groq"
EMBEDDING_BACKEND="hugging_face"

# Models
GENERATION_MODEL_ID="llama-3.3-70b-versatile"
EMBEDDING_MODEL_ID="sentence-transformers/all-MiniLM-L6-v2"


# cfg
EMBEDDING_SIZE=384
INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

# ------------------------------------- DBs Config ----------------------------------------- #
VECTOR_DB_BACKEND="qdrant"
VECTOR_DB_NAME="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine_similarity"
MONGODB_DB="MINI_RAG_DB"
# ------------------------------------- Secrets ----------------------------------------- #
MONGODB_URL=""
GROQ_API_KEY=""
GOOGLE_API_KEY=""
HF_TOKEN=""